# Ignore all files in the dataset directory
dataset/*
wandb/
models/
outputs/
input/
output/
siglip-person-search-openset/

# Ignore all files in the .venv directory
.venv/*
uv.lock
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore local models
yolov8n.pt
